.hero {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gird-template-rows: 2fr;
  align-items: center;
}

/*Hacer un hero-container con efecto de
glasmorphy
*/
.hero-content {
  /*border: 1px solid red;*/
  padding: 0 2rem;

}


.hero-image {

}


@media (768px <= width <= 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    margin: 0 2rem;
  }
}

@media (1024px <= width) {
  .hero {
    grid-template-columns: 1fr 1fr;
    margin: 3rem 10rem;
  }
}